body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 80vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  #clear-button{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: 16px;
}
