body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }
  .my-class{
    text-align: left!important;
  }

  #draggable, #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

  #todo-cards, #in-progress-cards, #done-cards{

    width: 300px; height: 500px; padding: 0.5em; float: left; margin: 10px 10px 10px 0;

  }
