body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }
  .my-class{
    text-align: left!important;
  }
  #todo-cards { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #todo-cards li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #todo-cards li span { position: absolute; margin-left: -1.3em; }

  #in-progress-cards{ list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #in-progress-cards li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #in-progress-cards li span { position: absolute; margin-left: -1.3em; }